nav {
    background-color: #1E1E1D;
}

header img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #1E1E1D;
    color: white;
    min-height: 75px;
}

footer .btn {
    margin: 2px;
}

footer p {
    margin: 0;
}

#notice {
    text-align: center;
}

#copyright {
    background-color: black;
}

a {
    color: white;
}

a:hover {
    color: slategray;
    text-decoration: none;
}

#emblem{
    pointer-events: none;
    font-size: 30px;
}

h2 {
    text-align: center;
    padding-bottom: 3rem;
}

.locations, .about, .brands, .store, .contact {
    background-color: white;
    padding: 3rem;
}

.card {
    margin-bottom: 5px;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}

.carousel-item img{
    height: 350px;
    width: 350px;
}

