nav {
    background-color: #1E1E1D;
}

#header {
    background-image: url("https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470");
    background-repeat: no-repeat;
    height: 90vh;
    background-position: bottom left;
    position: relative;
    background-size: cover;
}

footer {
    background-color: #1E1E1D;
    color: white;
    min-height: 4.6875em;
}

footer .btn {
    margin: .125em;
}

footer p {
    margin: 0;
}

#notice {
    text-align: center;
}

#copyright {
    background-color: black;
}

a {
    color: white;
}

a:hover {
    color: slategray;
    text-decoration: none;
}

#emblem{
    pointer-events: none;
    font-size: 1.875em;
}

h2 {
    text-align: center;
    padding-bottom: 3rem;
}

.locations, .about, .brands, .store, .contact {
    background-color: white;
    padding: 3rem;
}

.card {
    margin-bottom: .3125em;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}

.carousel-item img{
    height: 21.875em;
    width: 21.875em;
}